/Users/kbrooks/Documents/CS7641 Machine Learning/Reinforcement Learning/Lesson_1_-_Markov_Decision_Processes.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Reinforcement Learning/Lesson_2_-_Reinforcement_Learning.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Reinforcement Learning/Lesson_3_-_Game_Theory.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Reinforcement Learning/Lesson_4_-_Game_Theory_Continued.zip/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_0_ML_IS_THE_ROX.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_1_-_Decision_Trees.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_2_-_Regression_&_Classification.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_3_-_Neural_Networks.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_4_-_Instance_Based_Learning.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_5_-_Ensemble_B&B.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_6_-_Kernel_Methods_&_SVMs.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_7_-_Comp_Learning_Theory.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_8_-_VC_Dimensions.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_9_-_Bayesian_Learning.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Supervised Learning/Lesson_10_-_Bayesi/Users/kbrooks/Documents/CS7641 Machine Learning/Unsupervised Learning/Lesson_1_-_Randomized_Optimization.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Unsupervised Learning/Lesson_2_-_Clustering.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Unsupervised Learning/Lesson_3_-_Feature_Selection.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Unsupervised Learning/Lesson_4_-_Feature_Transformation.zip
/Users/kbrooks/Documents/CS7641 Machine Learning/Unsupervised Learning/Lesson_5_-_Info_Theory.zipan_Inference.zip
*.zip
